<div id="header">
    <img src="img/logo-white.png" style="height: 17px;margin-top:14px;display: block;margin-left: auto;margin-right: auto;">
</div>

<ion-nav-view name="menuContent" ng-init="resetAlertsCount()">
    <div id="content">
        <div class="list card" ng-repeat="record in reportsToday">
            <div class="item item-avatar">
                <h2>{{record.category}}</h2>
                <p>{{record.created_at | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" ng-src="data:image/jpeg;base64,{{record.image}}">
                <p>
                    {{record.address}}
                </p>
                <p>
                    {{record.description}}
                </p>
            </div>

        </div>
    </div>
</ion-nav-view>