<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-dark bar-darker">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-title>
                <img src="img/logo-white.png" style="height: 17px;margin-top:14px;display: block;margin-left: auto;margin-right: auto;">
            </ion-nav-title>
        </ion-nav-bar>
        <ion-nav-view name="menuContent">
        </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark bar-darker">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close ui-sref="app.map">
                    Home
                </ion-item>
                <ion-item menu-close ng-click="alertClick()">
                    Alerts <span ng-if="alerts > 0" style="color: white; background: red; display: inline-block; font-weight: bold;">{{alerts}}</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.history">
                    History
                </ion-item>
                <ion-item menu-close ng-click="logout()">
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>


</ion-side-menus>

<div id="header">

</div>
