 <div class="row" style="margin:0 auto">
   <div class="col col-50">

   <button ng-click="reportCrime('theft')" class="button button-transparent button-full">
     <img src="img/theft-box.png" class="crime-icon">

     Theft
      </button>
    </div>
   <div class="col col-50">
   <button ng-click="reportCrime('carnapping')" class="button button-transparent button-full">
     <img src="img/carnapping-box.png" class="crime-icon">

     Carnapping
     </button>
   </div>
 </div>

 <div class="row" style="margin:0 auto">
   <div class="col col-50">

   <button ng-click="reportCrime('kidnapping')" class="button button-transparent button-full">
      <img src="img/kidnapping-box.png" class="crime-icon">
      Kidnapping
      <div style="clear: both"></div>
    </button>
    </div>
   <div class="col col-50">

   <button ng-click="reportCrime('rape')" class="button button-transparent button-full">
     <img src="img/rape-box.png" class="crime-icon">

     Rape
     </button>
   </div>
 </div>

 <div class="row" style="margin:0 auto">
   <div class="col col-50">

   <button ng-click="reportCrime('robbery')" class="button button-transparent  button-full">
     <img src="img/robbery-box.png" class="crime-icon">

     Robbery
      </button>
    </div>
   <div class="col col-50">

   <button ng-click="reportCrime('murder')" class="button button-transparent  button-full">
     <img src="img/murder-box.png" class="crime-icon">

     Murder
     </button>
   </div>

 </div>
