<ion-nav-view name="menuContent">
    <div id="content">
        <h5>Add a description. (e.g suspect details, plate number)</h5>
        <textarea ng-model="description" name="" id="" cols="40" rows="10" style="
    margin: auto;
    margin-top: 30px;
"></textarea>
        <button class="button button-full button-icon icon ion-camera" ng-click="upload()" style="
    width: 90%;
    margin: auto;
    margin-top: 20px;
"></button>
    </div>
    <button id="save-button" ng-click="save()">
  <div class="title">Save</div>
</button>
<button id="skip-button" ng-click="skip()">
  <div class="title">Skip</div>
</button>
</ion-nav-view>