<div id="header"></div>
<ion-nav-view name="menuContent">
    <div id="content">
        <div ng-if="loaded">
            <ng-map id="map" center="[{{latitude}}, {{longitude}}]">
                <heatmap-layer id="foo" data="heatmap" radius="50"></heatmap>
            </ng-map>
        </div>
        <div ng-show="showReportButtons" ng-include="'templates/crimelist.html'" id="crime-list"></div>
    </div>
    <button id="report-button" ng-click="showReportButtons = !showReportButtons">
  <div class="title">REPORT</div>
</button>
</ion-nav-view>