<div id="login">
    <img id="logo" src="img/logo.png" alt="" class="img img-responsive">
    <!--<div ng-include="'/template/crimelist.html'"></div>-->
    <div style="text-align:center;">
        <div>
            <button ng-click="facebookLogin()" on-tap="facebookLogin()">
                <img class="login-button" src="img/facebook-login.png" >
            </button>
        </div>
        <div>
            <button ng-click="googleLogin()" on-tap="googleLogin()">
                <img class="login-button" src="img/google-sign-in.png" >
            </button>
        </div>
    </div>
</div>