<div id="header">
  <img src="img/logo-white.png" style="height: 17px;margin-top:14px;display: block;margin-left: auto;margin-right: auto;">
</div>

<ion-nav-view name="menuContent">

  <img id="crosshair" src="https://www.daftlogic.com/images/cross-hairs.gif">
<div id="content">
  <div ng-if="loaded" style="height:100%; display:run-in">
    <ng-map style="height: 100% !important" map-type-control="false" street-view-control="false" ng-model="center" center="[{{latitude}}, {{longitude}}]" ng-if='!heatmapOn' zoom-control-options="{position:'RIGHT_CENTER'}">
      <custom-marker id="usa" position="[{{report.latitude}}, {{report.longitude}}]" ng-repeat="report in reports" >
        <div>
          <img src="{{setCategory(report.category)}}" />
        </div>
      </custom-marker>
    </ng-map>
    <ng-map id="map" center="[{{latitude}}, {{longitude}}]" ng-if='heatmapOn'>
      <heatmap-layer id="foo" data="heatmap" radius="50"></heatmap>
    </ng-map>
</div>
  <div ng-show="showReportButtons" ng-include="'templates/crimelist.html'" id="crime-list"></div>
</div>
<button ng-click="switchView()" id="switch-button"><i class="fa fa-refresh"></i></button>
<button id="report-button"  ng-click="showReportButtons = !showReportButtons">
  <div class="title">REPORT</div>
</button>
</ion-nav-view>
