/* Empty. Add your own CSS if you like */

#logo {
    padding: 80px;
    margin-bottom: 100px;
}

.login-button{
    height:46px;
    width:191px;
  /*height:40px;*/
  /*width:auto;*/
}

.button {
  background-color: black;
  color: white;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.button-transparent {
  opacity: 0.7;
}

#crime-list {
  display: block;
  position: fixed;
  bottom: 45px;
  width: 100%;
  background-color: gainsboro;
}

#report-button {
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height:45px;
  background-color: maroon;
  text-align: center;
  color:ghostwhite;
}

#save-button {
  display: block;
  position: fixed;
  bottom: 0px;
  width: 50%;
  height:45px;
  background-color: maroon;
  text-align: center;
  color:ghostwhite;
}

#skip-button {
  display: block;
  position: fixed;
  bottom: 0px;
  width: 50%;
  height:45px;
  background-color: lightseagreen;
  text-align: center;
  color:ghostwhite;
  right: 0;
}

#report-button .title{
  margin:auto;
}

.height-100pc {
  height: 100%;
}

.bg-maroon{
  background-color: maroon !important;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: black;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #abcdef;
}

#content {
  position: fixed;
  top: 45px;
  bottom: 45px;
  left: 0;
  right: 0;
  background-color: skyblue;
  overflow: auto;
}
#crosshair {
  position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -50px;
      background-color: skyblue;
      overflow: auto;
      z-index: 3;
      background: none;
      height: 100px;
      width: 100px;

}

#map{
  height: 100% !important;
}

#switch-button{
  right: 10px;
    position: absolute;
    top: 57px;
}

.crime-icon{
  float: left;
  width: 45px;
  height: 45px;
  margin-left: -11px;
}
.bar-darker{
  background: black !important;
}
#searchBox {
  display: block;
  position: fixed;
  z-index: 1;
  margin: 0px;
  padding: 5px;
  background: none;
  width: 100%;
}

#login{
  background-image: url("https://c2.staticflickr.com/6/5462/10022453746_6a81ec2fb5_b.jpg");
  /*image taken from https://c2.staticflickr.com/6/5462/10022453746_6a81ec2fb5_b.jpg*/
  background-position:50% 50%;  /* Sets reference point to scale from */
  background-size:cover;        /* Sets background image to cover entire element */
}

#login #logo{
  margin-top: 45px;
  margin-bottom: 200px !important;
}
